*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-hero{

}

.home-hero h2{
  font-family: sans-serif;
  font-size: 1.5px;
  margin: 8vw 0 12vw;
  background: rgba(225,225,225,.8)
  /*.8は透明度を表してる*/
  
}